body {
    color: #4F738E;
    background-color: #F5F6FA;
}
.docs-sidebar,
.header {
    background: #FFFFFF;
}

.theme-bg-dark {
    background: #4F738E;
}

.docs-overview .card {
    background: #FFFFFF;
    border-color: #4F738E;
}
.btn-primary:hover,
.btn-primary {
    background: #4F738E;
    color: #FFFFFF !important;
}
.footer a {
    color: #FFA9F9 !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: #4F738E;
}

.theme-icon-holder {
    background: #4F738E;
    color: #FFFFFF;
}
.card:hover .card-text,
.card:hover .card-title-text{
    color: #FFFFFF;
}
.card:hover .theme-icon-holder {
    background: #F5F6FA !important;
    color: #4F738E;
}
.card:hover {
    background: #4F738E !important;
}

.page-content {
    min-height: calc(100vh - 305px);
}
.docs-nav .nav-link.active .theme-icon-holder {
    background: #4F738E;
}
.docs-nav .nav-link.active {
    color: #4F738E;
}

.docs-article strong,
.docs-article,
.docs-article h4,
.docs-article .h4,
.docs-article h2,
.docs-article .h2,
.docs-article h6,
.docs-article .h6,
.docs-article .section-heading {
    color: #5a5a5a;
}

table {
    background: #454545;
    color: #ffffff !important;
}

.docs-article .docs-section {
    border-bottom: 1px solid #1b1919;
}
.docs-nav .nav-link {
    color: #5a5a5a;
}
.docs-nav .nav-link:before {
    background: #262626;
}

.badge-primary {
    background: #5a5a5a;
    color: #FFFFFF !important;
}

.text-danger-custom {
    color: #FFA9F9 !important;
}

.postmanBtn {
    background-color: #ef5b25;
    color: #ffffff;
}

.postmanBtn:hover {
    background-color: #ef5b25 !important;
    color: #ffffff !important;
}

.hljs {
    background: #454545 !important;
}

.docs-content{
    padding-bottom: 0px;
}
code{
    background: #4F738E;
    color: #FFFFFF;
}